menu "user packages " 
config libgomp  
	 bool "libgomp"
	 help
	
config gdb  
	 bool "gdb"
	 help
	
config gpio-demo  
	 bool "gpio-demo"
	 help
	
config gsl  
	 bool "gsl"
	 help
	
config peekpoke  
	 bool "peekpoke"
	 help
	
config sshfs-fuse  
	 bool "sshfs-fuse"
	 help
	
config u-dma-buf  
	 bool "u-dma-buf"
	 help
	
endmenu
