# Ignore HLS build folders
mmult/mmult/
Conv2D/conv_filter_prj/
ZIP/ZIP_prj/
Maxpool2D/maxpool2d_prj/
ReLU/relu_prj/
# Ignore IP export directory
IPs
# and our logging dotfile
.vitis_hls.log
mmult/vitis_hls.log
Conv2D/vitis_hls.log
ZIP/vitis_hls.log
Maxpool2D/vitis_hls.log
ReLU/vitis_hls.log
complex_gemv_dbl/complex_gemv_dbl/
complex_gemv_dbl/vitis_hls.log
complex_gemv_flt/complex_gemv_flt/
complex_gemv_flt/vitis_hls.log
