# Ignore HLS build folders
program_manager/program_manager_prj/
# Ignore IP export directory
IPs
# and our logging dotfile
.vitis_hls.log

**/vitis_hls.log
# g++ C-simulation binaries (make csim / make pe-test)
build.csim/
